        body {
   background-image: url('fundo-biblioteka.jpg'); 
   background-color: #f1eee7;
   background-repeat: no-repeat;
    background-attachment: fixed;
   background-position: fixed fixed;
   background-size: cover;
}

.my-soul-regular {
  font-family: "My Soul", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 120px;
  color: #405e9d;
  
}

.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
    color: #4c0013;
}


        
        .container {
            margin-top: 50px;
        }

        .search-container {
            display: flex;
            gap: 10px;
            align-items: center;
            max-width: 600px;
        }

        .input-group {
            flex: 1;
        }

        .btn-search {
            height: 38px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        /* card expandir description */

        .card {
            overflow: hidden;
            background-color: #f1eee7
        }

        .card[data-expanded="false"] {
            max-height: 100px;
        }